.aboutPageContainer{
    min-height: 80vh;
    background-color: #d54343ff;
    margin: 0;
    
}

.aboutInfo{
    display: grid;
    grid-template:repeat(2,1fr)/1fr;
    grid-template-areas: 
    "Info"
    "Info"
    ;
    margin-top: 6em;
    color: white;
    align-items: center;
    justify-items: center;

    
}



.aboutMe{
    grid-area: Info;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.aboutInfo p {
    text-align: start;
    line-height: 1.5em;
}

/*Skills*/
.skillsContainer{
    grid-area: Skills;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "Icons Slider";
    width: 100%;
    height: 27em;
    border-radius: 1em;
    background: rgba(181, 54, 54, 0.7); 
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 3em 1em;
}

.skillIconsContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skill{
    display: flex;
    align-items: center;
    gap: 1em;
}

.skill p {
    font-size: 1.5em;
}

.icon{
    font-size: 2.5em;
}

.sliderContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.slider{
    display: flex;
    align-items: center;
    gap: 1em;
    height: 2.55em;
}

.percent{
    height: 0.6em;
    background-color: yellow;
    border-radius: 2em;
}


@media (max-width:1200px) {
    .skillsContainer{
        display: none;
    }
    .aboutPageContainer{
        min-height: 80vh;
    }
}

@media (min-width:1200px) {
    .aboutInfo{
        grid-template:repeat(2,1fr)/repeat(2,1fr);
        grid-template-areas:
        "Skills Info"
        "Skills Info"
        ;
        gap: 5em;
    }
}
