.contactsPageContainer{
    min-height: 80vh;
    background-color: #d54343ff;
    margin: 0;
    
}

.contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    margin:5em 0;
}

.contactCard{
    width: 20em;
    height: 30em;
    border-radius: 2em;
    background: rgba(181, 54, 54, 0.7); 
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    
}

form{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.formTitle{
    font-size: 1.5em;
    color: yellow;
}

.formInputs{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.formInput{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.formInput label{
    color: yellow;
}

.formInput input{
    border-radius: 0.5em;
    padding: 0.4em;
    border: none;
}

.formInput textarea:focus, input:focus{
    outline: yellow;
    border: 1px solid yellow;
}

.formInput textarea {
    border-radius: 0.5em;
    padding: 0.4em;
    height: 5em;
    border: none;
}



.submit button{
    width: 100%;
    padding: 1em 1em;
    border-radius: 1em;
    border: none;
    background-color: white;
    cursor: pointer;
}

.submit button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.submit button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  width: 14px;
  height: 14px;
  animation: spin 0.7s linear infinite;
  visibility: hidden;
}

.submit button:disabled::after {
  visibility: visible;
}

.infoContainer{
    align-self: start;
    padding: 0em 1em;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
}

/*ANIMATION*/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*MEDIA*/
@media (min-width:900px) {
    .contentContainer{
    flex-direction: row;
    justify-content: start;
    gap: 10em;
    }
    .infoContainer{
        align-self: center;
    }
    .info {
        gap: 5em;
    }
    .contactCard{
        width: 30em;
    }
    
}