/*Home*/
.homeContainer{
    max-width: 100vw;
    min-height: 100vh;
    margin-top: 3em;
    padding: 1em 0 ;
}

.ContentContainer{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template:repeat(2,1fr)/1fr;
    grid-template-areas: 
    "Pic "
    "Intro "
    ;
    align-items: center;
    justify-items: center;
    margin-top: 1em;
}
/*IMAGE*/
.imgContainer{
    opacity: 0;
    position: relative;
    width: 20em;
    height: 20em;
    margin-top: 1em;
    grid-area: Pic;
    animation: fadeInLeft 1s ease-out forwards;
}

.imgContainer svg{
    z-index: 0;
    position: relative;
    animation: blobFloat 6s ease-in-out infinite alternate;
}

.mypicContainer{
    position: absolute;
    top: 53%;
    left: 56%;
    transform: translate(-50%,-50%);
    z-index: 1;
}


/*INTRODUCTION*/
.introduction{
    opacity: 0;
    grid-area: Intro;
    width: 100%;
    max-width: 28em;
    height: 17em;
    padding:1em ;
    border-radius: 0.9em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: #F5F5F5;
    background: rgba(213, 67, 67, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInLeft 1s ease-out forwards;
}
.introduction h3{
    font-size: 1.5em;
}

.cta_Btns{
    display: flex;
    gap: 3em;
}

.cta_Btns a {
    text-decoration: none;
    color: inherit;
}

.ctaButton{
    padding: 1em 1.5em;
    border-radius: 1em;
    border: none;
    background-color: #dc2828;
    color: #FFFFFF;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.ctaButton:hover{
    border: 1px solid yellow;
    transform: scale(1.02);
    color: yellow;
}



/*ProjectsTree*/
.projectsTreeContainer{
    padding: 3em 2em;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    width: 100%;
    height: 100%;
    grid-area: Project;
    border-radius: 2em;
}

.projectsTreeContainer h2 {
    color: white;
    font-size: 2.5em;
    background-color: #B53636;
}

.processCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.processCard{
    opacity: 0;
    width:7em ;
    height: 7em;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2em;
     backdrop-filter: blur(15px) saturate(160%);
     -webkit-backdrop-filter: blur(15px) saturate(160%);
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
     display: flex;
     align-items: center;
     justify-content: center;
     animation: 
        fadeInUp 1s ease-out forwards,
        jump 5s linear infinite
     ;
}

.techIcon{
    width: 4em;
    
}

/*ANIMATIONS*/
@keyframes blobFloat {
  0% {
    transform: scale(1) translateY(0);
  }
  
  100% {
    transform: scale(1.05) translateY(-10px);
  }
}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(-40px);
    }
    20%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}


/*MEDIA*/
@media (min-width:1100px) {
    .ContentContainer{
        grid-template:repeat(2,1fr)/repeat(2,1fr);
        grid-template-areas: 
        "Pic Project"
        "Intro Project"
        ;
        justify-items: start;
    }
    .projectsTreeContainer{
        display: flex;
    }
}
@media (max-height:800px) {
    .introduction{
        margin-top: -2em;
    }
}