.projectPageContainer{
    max-width: 100vw;
    min-height: 100vh;
}

.projectCardsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    margin: 5em 0;
}

.projectCard{
    width: 20em;
    min-height: 20em;
    background: rgba(213, 67, 67, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "Img"
    "Info"
    "Tech"
    "Links"
    ;
}

.projectImg{
    grid-area: Img;
    border-radius: 2em 2em 0em 0em;
    overflow: hidden;
    border-bottom: 1px solid yellow;
    max-width: 100%;
    max-height: 100%;
}

.projectImg img {
    width: 100%;
    height: 100%;
}

.projectInfo{
    grid-area: Info;
    padding: 1em;
    color: white;
}

.projectTech{
    grid-area: Tech;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.projectLinks{
    grid-area: Links;
    border-radius: 0em 0em 2em 2em;
    display: flex;
    padding: 1em;
    gap: 1em;
    color: white;
}
.projectLinks a {
    color: white;
}

.link{
    display: flex;
    align-items: center;
    gap: 1em;
}

/*ProjectTech*/
.techContainer{
    width: 5em;
    height: 2em;
    background-color: #dc2828;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*MEDIA*/
@media (min-width:769px) {
    .projectCardsContainer{
        justify-content: start;
    }

    .projectCard{
        width: 100%;
        min-height: 10em;
        background: rgba(213, 67, 67, 0.25);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 2em;
        display: grid;
        grid-template: repeat(3,1fr)/repeat(2,1fr);
        grid-template-areas: 
        "Img Info"
        "Img Tech"
        "Img Links";
    }
    .projectImg{
    grid-area: Img;
    border-radius: 2em 0em 0em 2em;
    overflow: hidden;
    border:none;
    max-width: 100%;
    max-height: 100%;
    clip-path: polygon(
    0 0,
    85% 0,
    100% 50%,
    85% 100%,
    0 100%
  );
    }
    .projectCard.reverse {
    grid-template-areas:
      "Info Img"
      "Tech Img"
      "Links Img";
  }
  .projectCard.reverse .projectImg {
    border-radius: 0 2em 2em 0;
    clip-path: polygon(
      15% 0,
      100% 0,
      100% 100%,
      15% 100%,
      0 50%
    );
  }


    .projectInfo{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .projectInfo h3 {
        font-size: 2em;
    }
}